table {
    border-collapse: collapse;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

  th{
    border: 2px solid rgb(13, 12, 14);
    padding: 20px;
    background: rgb(209, 128, 241);
    font-weight: bold;   
  }
td{
    border: 2px solid rgb(13, 12, 14);
    padding: 20px;
    background: rgb(238, 233, 240);
    font-weight: bold;
}
